.header {
    background-color: #24292e;
    color: white;
    height: 50px;
    padding-top: 0.5em;
}

.search-input {
    background-color: #3f4347;
    border: 0;
    border-radius: 5px;
    color: #daebec;
    height: 30px;
    margin-left: 1em;
    padding-left: 0.5em;
    width: 300px;
}

.logo {
    height: 30px;
}